<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Agenda Médica</title>

</head>

<body>

    <h1>Agenda Médica</h1>

    <h3>Login</h3>

    <form>

        <label>Usuário ou Email</label>

        <br>

        <input
            type="text"
            placeholder="Digite seu usuário">

        <br><br>

        <label>Senha</label>

        <br>

        <input
            type="password"
            placeholder="Digite sua senha">

        <br><br>

        <button>

            Entrar

        </button>

    </form>

</body>

</html>